h1{
    height: 100px;
    background-color: rgb(240, 240, 178);
    color: black;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}
p{
    background-color: rgb(202, 202, 66);
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    transition: ease-in-out;
   
    transition-duration: 3s;
    transition-delay: 1s;
    
}